@model IEnumerable<ToDoList.ViewModels.CommentViewModel>

<div class="table table-condensed comments" >
    <table>
        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(x => item.Text)</td>
            </tr>

        }
    </table>
</div>