@{
    Layout = null;
}
<div ng-controller="headerController">
    <ul class="nav navbar-nav navbar-right">
        <li ng-if="authentication.isAuth">
            <a>Hello {{authentication.userName}}!</a>
        </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
        <li ng-if="!authentication.isAuth"><a href="#!signup" role="button">Register</a></li>
        <li ng-if="!authentication.isAuth"><a href="#!login" role="button">Log in</a></li>
        <li ng-if="authentication.isAuth"><a  role="button" ng-click="logOut()" style="cursor:pointer">Log out</a></li>
    </ul>
</div>