@model ToDoList.ViewModels.CommentViewModel

@using (Ajax.BeginForm("AddComment", "Comment", new AjaxOptions
{
    Url = Url.Action("AddComment", "Comment"),
    OnSuccess = "OnSuccessComment",
    HttpMethod = "POST"
}))
{
    @Html.HiddenFor(x => x.TaskId)
    @Html.TextBoxFor(x => x.Text, new {placeholder = "Input your comment", @class="form-control"})
    <span id="resultComment"></span>
    <input type="submit" value="Add comment" class="btn btn-success btn-sm" />
}