@model ToDoList.Models.TaskViewModel
@{
    ViewBag.Title = "_AddTaskPartial";
}

<form class="form-inline" action="~/Home/Add" method="post">
    @Html.TextBoxFor(m => m.Title, new { placeholder = "Add a new task", @class="form-control"})
<button type="submit" data-task="@Model.Title" class="btn btn-primary js-btn-add">Add Task</button>
</form>
    

