@using Microsoft.AspNet.Identity
@using ToDoList.Models
@using ToDoList.ViewModels
@{

}

<div class="container" style="margin-top:25px">
    <div class="col-md-8">
        <ul class="nav nav-tabs"style="cursor:pointer">
            <li class="active"> <a>All</a></li>
            <li><a>Home</a></li>
            <li><a>Work</a></li>
            <li><a>Closed</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" style="margin-bottom:0px">
                <div class="panel-body">
                    <button class="btn btn-sm btn-primary">Complete</button>
                    <div class="row">
                        @Session["Responce"]
                        <div style="display:inline"class="col-md-12">
                            Select:<a href="javascript:;">Due Today</a>
                        </div>
                        <div style="display:inline"class="dropdown">
                            <button class="btn btn-xs btn-default dropdown-toggle" style="margin-top:-2px" type="button" data-toggle="dropdown">
                                Other actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Priorities</li>
                                <li><a href="javascript:;">None</a></li>
                                <li><a href="javascript:;">Low</a></li>
                                <li><a href="javascript:;">Normal</a></li>
                                <li><a href="javascript:;">High</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;">Delete selected</a></li>
                            </ul>
                        </div>
                    </div>                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin-bottom:0px">
                        <div class="panel-body">
                            <div class="form-group">
                                <form class="form-inline" name='taskform' novalidate>
                                    <div class="send-form-input col-md-11 ">
                                        <input class="form-control" style="max-width:none" type="text" placeholder="Add a new task" name="newtask" maxlength="70" required />                                       
                                    </div>
                                    <div class="send-form-btn col-md-1 "><button type="submit" class="btn btn-primary">Add</button></div>
                                </form>
                            </div>
                        </div>                       
                    </div>
                    
                </div>               
            </div>                       
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <input type="checkbox" data-bind="checked:isAllSelected, event:{click: selectAll}">All
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Due date
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: tasks">
                    <tr style="max-width:inherit" id="row">
                        <td style="width:2%" id="color"></td>
                        <td id="rowC"><input type="checkbox" data-bind="checked: isSelected, event: {click: $root.onChange}"></td>
                        <td id="rowT"><span data-bind="text: title"></span></td>
                        <td id="rowD"><span data-bind="text: dueDate"></span></td>
                        <td style="cursor:pointer">
                            <a>Assign to:</a>
                            <div>
                                <select class="form-control" style="width:inherit"></select>
                            </div>
                        </td>
                        <td><span style="cursor:pointer" class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                </tbody>               
            </table>
            </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs" >
                <li ><a >View</a></li>
                <li ><a >Edit</a></li>
            </ul>
        </div>
        <!--***********************VIEW FORM*******************-->
        <div class="col-md-4" ng-model="currentTask.isSelected" ng-show="currentTask.isSelected && detailsTab == 1">
            <div class="panel panel-default" style="margin-bottom:0px">
                <div class="panel-body details-panel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-model="currentTask">
                                <label style="color:blue;text-transform:uppercase;max-width:100%;overflow:auto">{{currentTask.Title}}</label>
                            </div>
                        </div>                       
                    </div>
                    <div class="form-group" ng-model="currentTask">
                        <label>Due date</label>
                        {{currentTask.DueDate | date}}
                    </div>
                    <div class="form-group" ng-model="currentTask">
                        <label>Time estimated</label>
                        {{currentTask.TimeEstimated}} hours
                    </div>
                    <div class="form-group" ng-model="currentTask">
                        <label>Priority</label>
                        {{priority[currentTask.TaskPriority]}}
                    </div>
                    <div class="form-group" ng-model="currentTask" ng-show="currentTask.CommentCount != 0">
                        <label>Comments</label>
                        {{currentTask.CommentCount}}
                        <label>Show</label>
                        <input type="checkbox" ng-model="showComment" />
                    </div>
                    <div ng-show="showComment">
                        <table>
                            <tr ng-repeat="comment in currentTask.Comments">
                                <td>{{comment.Text}}</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="tab != 4" class="form-group" ng-model="currentTask">
                        <form class="form-inline" name='commentform' novalidate>
                            <div class="send-form-input col-md-6 ">
                                <input class="form-control" type="text" placeholder="Enter your comment" ng-model="newComment" />
                            </div>
                            <div class="send-form-btn" col-md-6>
                                <button type="submit" class="btn btn-primary" ng-click="addComment(currentTask,newComment)">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
          </div>


                <!--END VIEW FORM-->
                <!--******************EDIT FORM*****************-->
        <div class="col-md-4" ng-model="forEdit" ng-show="detailsTab == 2 && tab != 4">
            <div class="panel panel-default" style="margin-bottom:0px">
                <div class="panel-body details-panel">
                    <div class="form-group" ng-model="currentTask">
                        <label>Title</label>
                        <input class="form-control" type="text" ng-model="currentTask.Title" />
                    </div>
                    <div class="form-group">
                        <input style="display:inline" type="text" class="form-control" ng-model="currentTask.DueDate" />
                        <span style="display:inline" class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <div class="form-group" ng-model="currentTask">
                        <label>Time estimated</label>
                        <input class="form-control" type="text" ng-model="currentTask.TimeEstimated" />
                    </div>
                    <div class="form-group">
                        <label>Group</label>
                        <select class="form-control" ng-model="currentTask.GroupId">
                            <option value="2">Home</option>
                            <option value="3">Work</option>
                        </select>
                    </div>                
                    <div class="form-group" ng-model="currentTask">
                        <label>Priority</label>
                        <select class="form-control" ng-model="currentTask.TaskPriority">
                            <option ng-repeat="p in priority" value="{{p}}">{{p}}</option>
                        </select>
                    </div>
                    <button class="btn btn-success" ng-click="update(currentTask)">Update</button>
                </div>
             </div>
          </div>
        </div>
            <!--END EDIT FORM-->

        </div>
<script src="~/Scripts/KnockoutModules/taskModule.js"></script>