@using Microsoft.AspNet.Identity
@using ToDoList.Models
@using ToDoList.ViewModels


<div  class="container" ng-controller="taskController">
    <div class="col-md-8">
        <ul class="nav nav-tabs" ng-model="tab">
            <li ng-class="{active : isSet(1)}"><a href="#" ng-click="setTab(1)">All</a></li>
            <li ng-class="{active : isSet(2)}"><a href="#" ng-click="setTab(2)">Home</a></li>
            <li ng-class="{active : isSet(3)}"><a href="#" ng-click="setTab(3)">Work</a></li>
            <li ng-class="{active : isSet(4)}"><a href="#" ng-click="setTab(4)">Closed</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
    <div class="form-group">
        <form class="form-inline" name='taskform' novalidate>
            <input class="form-control" type="text" placeholder="Input your task" name="newtask" ng-model="title" required />
            <div ng-show="taskform.$submitted">
                <div ng-show="taskform.newtask.$error.required">You cannot send empty field</div>
            </div>
             <button type="submit" class="btn btn-primary" ng-click="newTask()">Send</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    <input type="checkbox" ng-model='isAllSelected' ng-click="selectAll(isAllSelected)">All
                </th>
                <th>
                    Title
                </th>
                <th>
                    Due date
                </th>
                </tr>
            </thead>   
            <tr ng-repeat="task in tasks">
                <td  id="color{{task.TaskId}}" ></td>
                <td><input type="checkbox" ng-model="task.isSelected" ng-click="selectTask(task)"></td>
                <td>{{task.Title}}</td>
                <td>{{task.DueDate | date}}</td>
            </td>
        
        </table>
            </div>

        <!--***********************VIEW FORM*******************-->
        <div class="col-md-4" ng-model="currentTask.isSelected" ng-show="currentTask.isSelected">
            <div class="form-group" ng-model="currentTask">
                <label>Title</label>
                {{currentTask.Title}}
            </div>
            <div class="form-group" ng-model="currentTask">
                <label>Due date</label>
                {{currentTask.DueDate | date}}
            </div>
            <div class="form-group" ng-model="currentTask">
                <label>Time estimated</label>
                {{currentTask.TimeEstimated}} hours
            </div>
            <div class="form-group" ng-model="currentTask">
                <label>Priority</label>
                {{priority[currentTask.TaskPriority]}}
            </div>
            <div class="form-group" ng-model="currentTask" ng-show="currentTask.CommentCount != 0">
                <label>Comments</label>
                {{currentTask.CommentCount}}
                    <label>Show</label>
                    <input type="checkbox" ng-model="showComment" />              
            </div>
            <button class="btn btn-primary" ng-click="editTask(currentTask)">Edit</button>
            <div ng-show="showComment">
                <table>
                    <tr ng-repeat="comment in currentTask.Comments">
                        <td>{{comment.Text}}</td>
                    </tr>
                </table>
            </div>
            <div class="form-group" ng-model="currentTask">
                <form class="form-inline" name='commentform' novalidate >
                    <input class="form-control" type="text" placeholder="Enter your comment"  ng-model="newComment"  />                  
                    <button type="submit" class="btn btn-primary" ng-click="addComment(currentTask,newComment)">Send</button>
                </form>
            </div> 
            </div >
        
        
         <!--END VIEW FORM-->

        <!--******************EDIT FORM*****************--> 
        <div class="col-md-4" ng-model="forEdit" ng-show="forEdit">
            <div class="form-group" ng-model="currentTask">
                <label>Title</label>
                <input  class="form-control" type="text" ng-model="currentTask.Title" />
            </div>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    <input type="text" class="form-control" ng-model="currentTask.DueDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
                <div class="form-group" ng-model="currentTask">
                    <label>Time estimated</label>
                    <input class="form-control" type="text" ng-model="currentTask.TimeEstimated" />
                </div>
                <div class="form-group" ng-model="currentTask">
                    <label>Priority</label>
                    <select class="form-control" ng-model="currentTask.TaskPriority">
                        <option ng-repeat="p in priority" value="{{p}}">{{p}}</option>
                    </select>
                </div>
                <button class="btn btn-success" ng-click="update(currentTask)">Update</button>
            </div>      
    </div>
    <!--END EDIT FORM--> 
    
    </div>
<script>
    $().ready(function () {
        //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
        $('#datetimepicker1').datetimepicker();
    });
</script>