@using Microsoft.AspNet.Identity
@using ToDoList.Models
@using ToDoList.ViewModels


<div  class="container" ng-controller="taskController">
    <div class="form-group">
        <form class="form-inline" novalidate>
            <input class="form-control" type="text" placeholder="Input your task" name="newtask" ng-model="title" ng-required="" />
            <div ng-show="form.$submitted">
                <div ng-show="form.newtask.$error.required">You cannot send empty field</div>
            </div>
             <button type="submit" class="btn btn-primary" ng-click="newTask()">Send</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Due date
                </th>
                <th>
                    Priority
                </th>
                </tr>
            </thead>       
            <tr ng-repeat="task in tasks">
                <td>{{task.Title}}</td>
                <td>{{task.DueDate | date}}</td>
                <td>{{task.TaskPriority | number}}</td>
            </tr>
        
        </table>
    
</div>