body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*My styles*/
#view > div.show-comments a{
    display: none
}
/*Bootstrap overrides*/
.container > .row > .col-lg-12 {
    width: 100%;
    padding-top: 45px;
}
.priority-color-none{
    border-style:solid;
    border-width:1px;   
    border-color:black !important;
}
.priority-color-high{
    border-style:solid;
    border-width:1px;   
    border-color:black !important;
    background-color:red;
}
.priority-color-normal{
    border-style:solid;
    border-width:1px;   
    border-color:black !important;
    background-color:blue;
}
.priority-color-low{
    border-style:solid;
    border-width:1px;   
    border-color:black !important;
    background-color:deepskyblue;
}    